mybatch/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mybatch"
		},
		"AzureBlobStoragegen2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStoragegen2'"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureBatch1_accessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accessKey' of 'AzureBatch1'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://batchdotnet.dfs.core.windows.net/"
		},
		"AzureBatch1_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://unzipping.eastus.batch.azure.com"
		},
		"AzureBatch1_properties_typeProperties_poolName": {
			"type": "string",
			"defaultValue": "custom-activity-pool"
		},
		"AzureBatch1_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "unzipping"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStoragegen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStoragegen2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Android_ouput_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Output datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "output"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Android_source_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Input datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "android_version_market_share.csv",
						"folderPath": "MarketShareofOperatingSystems",
						"fileSystem": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "6.0 Marshmallow",
						"type": "String"
					},
					{
						"name": "9.0 Pie",
						"type": "String"
					},
					{
						"name": "10.0",
						"type": "String"
					},
					{
						"name": "7.0 Nougat",
						"type": "String"
					},
					{
						"name": "11.0",
						"type": "String"
					},
					{
						"name": "5.1 Lollipop",
						"type": "String"
					},
					{
						"name": "8.1 Oreo",
						"type": "String"
					},
					{
						"name": "8.0 Oreo",
						"type": "String"
					},
					{
						"name": "12.0",
						"type": "String"
					},
					{
						"name": "7.1 Nougat",
						"type": "String"
					},
					{
						"name": "4.4 KitKat",
						"type": "String"
					},
					{
						"name": "13.0",
						"type": "String"
					},
					{
						"name": "5.0 Lollipop",
						"type": "String"
					},
					{
						"name": "4.2 Jelly Bean",
						"type": "String"
					},
					{
						"name": "4.1 Jelly Bean",
						"type": "String"
					},
					{
						"name": "4.3 Jelly Bean",
						"type": "String"
					},
					{
						"name": "2.3 Gingerbread",
						"type": "String"
					},
					{
						"name": "4.0 Ice Cream Sandwich",
						"type": "String"
					},
					{
						"name": "2.0 Eclair",
						"type": "String"
					},
					{
						"name": "27.0",
						"type": "String"
					},
					{
						"name": "2.2 Froyo",
						"type": "String"
					},
					{
						"name": "14.0",
						"type": "String"
					},
					{
						"name": "6.1 Marshmallow",
						"type": "String"
					},
					{
						"name": "Other",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Desktop_output_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "output"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Desktop_source_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Input datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "desktop_os_market_share.csv",
						"folderPath": "MarketShareofOperatingSystems",
						"fileSystem": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "Windows",
						"type": "String"
					},
					{
						"name": "OS X",
						"type": "String"
					},
					{
						"name": "Unknown",
						"type": "String"
					},
					{
						"name": "Linux",
						"type": "String"
					},
					{
						"name": "Chrome OS",
						"type": "String"
					},
					{
						"name": "iOS",
						"type": "String"
					},
					{
						"name": "Android",
						"type": "String"
					},
					{
						"name": "Playstation",
						"type": "String"
					},
					{
						"name": "Other",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ios_input_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "ios_version_market_share.csv",
						"folderPath": "MarketShareofOperatingSystems",
						"fileSystem": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBatch1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"batchUri": "[parameters('AzureBatch1_properties_typeProperties_batchUri')]",
					"poolName": "[parameters('AzureBatch1_properties_typeProperties_poolName')]",
					"accountName": "[parameters('AzureBatch1_properties_typeProperties_accountName')]",
					"linkedServiceName": {
						"referenceName": "AzureBlobStoragegen2",
						"type": "LinkedServiceReference"
					},
					"accessKey": {
						"type": "SecureString",
						"value": "[parameters('AzureBatch1_accessKey')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStoragegen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/loadfiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Android",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "6.0 Marshmallow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "6.0 Marshmallow",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "9.0 Pie",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "9.0 Pie",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "10.0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "10.0",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "7.0 Nougat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "7.0 Nougat",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "11.0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "11.0",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "5.1 Lollipop",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "5.1 Lollipop",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "8.1 Oreo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "8.1 Oreo",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "8.0 Oreo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "8.0 Oreo",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "12.0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "12.0",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "7.1 Nougat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "7.1 Nougat",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "4.4 KitKat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "4.4 KitKat",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "13.0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "13.0",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "5.0 Lollipop",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "5.0 Lollipop",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "4.2 Jelly Bean",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "4.2 Jelly Bean",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "4.1 Jelly Bean",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "4.1 Jelly Bean",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "4.3 Jelly Bean",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "4.3 Jelly Bean",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2.3 Gingerbread",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2.3 Gingerbread",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "4.0 Ice Cream Sandwich",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "4.0 Ice Cream Sandwich",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2.0 Eclair",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2.0 Eclair",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "27.0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "27.0",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2.2 Froyo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2.2 Froyo",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "14.0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "14.0",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "6.1 Marshmallow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "6.1 Marshmallow",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Other",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Other",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Android_source_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Android_ouput_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy desktop",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "6.0 Marshmallow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "6.0 Marshmallow",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "9.0 Pie",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "9.0 Pie",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "10.0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "10.0",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "7.0 Nougat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "7.0 Nougat",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "11.0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "11.0",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "5.1 Lollipop",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "5.1 Lollipop",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "8.1 Oreo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "8.1 Oreo",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "8.0 Oreo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "8.0 Oreo",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "12.0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "12.0",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "7.1 Nougat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "7.1 Nougat",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "4.4 KitKat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "4.4 KitKat",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "13.0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "13.0",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "5.0 Lollipop",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "5.0 Lollipop",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "4.2 Jelly Bean",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "4.2 Jelly Bean",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "4.1 Jelly Bean",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "4.1 Jelly Bean",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "4.3 Jelly Bean",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "4.3 Jelly Bean",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2.3 Gingerbread",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2.3 Gingerbread",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "4.0 Ice Cream Sandwich",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "4.0 Ice Cream Sandwich",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2.0 Eclair",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2.0 Eclair",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "27.0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "27.0",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2.2 Froyo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2.2 Froyo",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "14.0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "14.0",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "6.1 Marshmallow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "6.1 Marshmallow",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Other",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Other",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Desktop_source_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Desktop_output_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy IOS",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "6.0 Marshmallow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "6.0 Marshmallow",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "9.0 Pie",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "9.0 Pie",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "10.0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "10.0",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "7.0 Nougat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "7.0 Nougat",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "11.0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "11.0",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "5.1 Lollipop",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "5.1 Lollipop",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "8.1 Oreo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "8.1 Oreo",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "8.0 Oreo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "8.0 Oreo",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "12.0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "12.0",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "7.1 Nougat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "7.1 Nougat",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "4.4 KitKat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "4.4 KitKat",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "13.0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "13.0",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "5.0 Lollipop",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "5.0 Lollipop",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "4.2 Jelly Bean",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "4.2 Jelly Bean",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "4.1 Jelly Bean",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "4.1 Jelly Bean",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "4.3 Jelly Bean",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "4.3 Jelly Bean",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2.3 Gingerbread",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2.3 Gingerbread",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "4.0 Ice Cream Sandwich",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "4.0 Ice Cream Sandwich",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2.0 Eclair",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2.0 Eclair",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "27.0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "27.0",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2.2 Froyo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2.2 Froyo",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "14.0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "14.0",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "6.1 Marshmallow",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "6.1 Marshmallow",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Other",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Other",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Ios_input_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Desktop_output_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-12-20T03:59:02Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Android_source_dataset')]",
				"[concat(variables('factoryId'), '/datasets/Android_ouput_dataset')]",
				"[concat(variables('factoryId'), '/datasets/Desktop_source_dataset')]",
				"[concat(variables('factoryId'), '/datasets/Desktop_output_dataset')]",
				"[concat(variables('factoryId'), '/datasets/Ios_input_dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/unzipping')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This pipeline unzip file",
				"activities": [
					{
						"name": "unzipping",
						"description": "This custom activity unzip the given file and store the unzipped folder back to storage account",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "cmd /c python unzip.py",
							"resourceLinkedService": {
								"referenceName": "AzureBlobStoragegen2",
								"type": "LinkedServiceReference"
							},
							"folderPath": "input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-12-19T13:49:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStoragegen2')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBatch1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MarketShareofOperatingSystems')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Source to landing",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "unzipping",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Landing to Raw",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Source to landing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "loadfiles",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-12-20T03:59:02Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/unzipping')]",
				"[concat(variables('factoryId'), '/pipelines/loadfiles')]"
			]
		}
	]
}