mybatch/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mybatch"
		},
		"AzureBlobStoragegen2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStoragegen2'"
		},
		"AzureDataLakeStorage1MovingFiles_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1MovingFiles'"
		},
		"AzureBatch1_accessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accessKey' of 'AzureBatch1'"
		},
		"AzureDataLakeStorage1MovingFiles_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://batchdotnet.dfs.core.windows.net/"
		},
		"AzureBatch1_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://unzipping.eastus.batch.azure.com"
		},
		"AzureBatch1_properties_typeProperties_poolName": {
			"type": "string",
			"defaultValue": "custom-activity-pool"
		},
		"AzureBatch1_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "unzipping"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStoragegen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStoragegen2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1MovingFiles')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1MovingFiles_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1MovingFiles_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Android_Sink_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1MovingFiles",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Sink Datsets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "output"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "iOS 10.3",
						"type": "String"
					},
					{
						"name": "iOS 12.1",
						"type": "String"
					},
					{
						"name": "iOS 13.3",
						"type": "String"
					},
					{
						"name": "iOS 11.2",
						"type": "String"
					},
					{
						"name": "iOS 11.4",
						"type": "String"
					},
					{
						"name": "iOS 14.4",
						"type": "String"
					},
					{
						"name": "iOS 12.4",
						"type": "String"
					},
					{
						"name": "iOS 15.6",
						"type": "String"
					},
					{
						"name": "iOS 12.3",
						"type": "String"
					},
					{
						"name": "iOS 11.0",
						"type": "String"
					},
					{
						"name": "iOS 9.3",
						"type": "String"
					},
					{
						"name": "iOS 11.3",
						"type": "String"
					},
					{
						"name": "iOS 16.1",
						"type": "String"
					},
					{
						"name": "iOS 16.3",
						"type": "String"
					},
					{
						"name": "iOS 14.7",
						"type": "String"
					},
					{
						"name": "iOS 14.6",
						"type": "String"
					},
					{
						"name": "iOS 15.5",
						"type": "String"
					},
					{
						"name": "iOS 12.2",
						"type": "String"
					},
					{
						"name": "iOS 13.1",
						"type": "String"
					},
					{
						"name": "iOS 11.1",
						"type": "String"
					},
					{
						"name": "iOS 12.0",
						"type": "String"
					},
					{
						"name": "iOS 13.5",
						"type": "String"
					},
					{
						"name": "iOS 16.6",
						"type": "String"
					},
					{
						"name": "iOS 14.8",
						"type": "String"
					},
					{
						"name": "iOS 14.2",
						"type": "String"
					},
					{
						"name": "iOS 15.4",
						"type": "String"
					},
					{
						"name": "iOS 16.0",
						"type": "String"
					},
					{
						"name": "iOS 15.1",
						"type": "String"
					},
					{
						"name": "iOS 13.6",
						"type": "String"
					},
					{
						"name": "iOS 15.3",
						"type": "String"
					},
					{
						"name": "iOS 10.2",
						"type": "String"
					},
					{
						"name": "iOS 16.5",
						"type": "String"
					},
					{
						"name": "iOS 13.4",
						"type": "String"
					},
					{
						"name": "iOS 12.5",
						"type": "String"
					},
					{
						"name": "iOS 14.3",
						"type": "String"
					},
					{
						"name": "iOS 16.2",
						"type": "String"
					},
					{
						"name": "iOS 13.7",
						"type": "String"
					},
					{
						"name": "iOS 14.0",
						"type": "String"
					},
					{
						"name": "iOS 15.7",
						"type": "String"
					},
					{
						"name": "iOS 15.2",
						"type": "String"
					},
					{
						"name": "iOS 16.4",
						"type": "String"
					},
					{
						"name": "iOS 15.0",
						"type": "String"
					},
					{
						"name": "iOS 14.1",
						"type": "String"
					},
					{
						"name": "iOS 13.2",
						"type": "String"
					},
					{
						"name": "iOS 10.1",
						"type": "String"
					},
					{
						"name": "iOS 10.0",
						"type": "String"
					},
					{
						"name": "iOS 17.0",
						"type": "String"
					},
					{
						"name": "iOS 14.5",
						"type": "String"
					},
					{
						"name": "iOS 7.1",
						"type": "String"
					},
					{
						"name": "iOS 7.0",
						"type": "String"
					},
					{
						"name": "iOS 6.0",
						"type": "String"
					},
					{
						"name": "iOS 17.1",
						"type": "String"
					},
					{
						"name": "iOS 9.2",
						"type": "String"
					},
					{
						"name": "iOS 13.0",
						"type": "String"
					},
					{
						"name": "iOS 8.4",
						"type": "String"
					},
					{
						"name": "iOS 8.1",
						"type": "String"
					},
					{
						"name": "iOS 16.7",
						"type": "String"
					},
					{
						"name": "iOS 9.1",
						"type": "String"
					},
					{
						"name": "iOS 6.1",
						"type": "String"
					},
					{
						"name": "iOS 5.1",
						"type": "String"
					},
					{
						"name": "iOS 8.3",
						"type": "String"
					},
					{
						"name": "iOS 9.0",
						"type": "String"
					},
					{
						"name": "iOS 5.0",
						"type": "String"
					},
					{
						"name": "iOS 8.0",
						"type": "String"
					},
					{
						"name": "iOS 8.2",
						"type": "String"
					},
					{
						"name": "iOS 4.3",
						"type": "String"
					},
					{
						"name": "iOS 15.8",
						"type": "String"
					},
					{
						"name": "iOS 3.2",
						"type": "String"
					},
					{
						"name": "Other",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1MovingFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Android_Source_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1MovingFiles",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "android_version_market_share.csv",
						"folderPath": "MarketShareofOperatingSystems",
						"fileSystem": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "6.0 Marshmallow",
						"type": "String"
					},
					{
						"name": "9.0 Pie",
						"type": "String"
					},
					{
						"name": "10.0",
						"type": "String"
					},
					{
						"name": "7.0 Nougat",
						"type": "String"
					},
					{
						"name": "11.0",
						"type": "String"
					},
					{
						"name": "5.1 Lollipop",
						"type": "String"
					},
					{
						"name": "8.1 Oreo",
						"type": "String"
					},
					{
						"name": "8.0 Oreo",
						"type": "String"
					},
					{
						"name": "12.0",
						"type": "String"
					},
					{
						"name": "7.1 Nougat",
						"type": "String"
					},
					{
						"name": "4.4 KitKat",
						"type": "String"
					},
					{
						"name": "13.0",
						"type": "String"
					},
					{
						"name": "5.0 Lollipop",
						"type": "String"
					},
					{
						"name": "4.2 Jelly Bean",
						"type": "String"
					},
					{
						"name": "4.1 Jelly Bean",
						"type": "String"
					},
					{
						"name": "4.3 Jelly Bean",
						"type": "String"
					},
					{
						"name": "2.3 Gingerbread",
						"type": "String"
					},
					{
						"name": "4.0 Ice Cream Sandwich",
						"type": "String"
					},
					{
						"name": "2.0 Eclair",
						"type": "String"
					},
					{
						"name": "27.0",
						"type": "String"
					},
					{
						"name": "2.2 Froyo",
						"type": "String"
					},
					{
						"name": "14.0",
						"type": "String"
					},
					{
						"name": "6.1 Marshmallow",
						"type": "String"
					},
					{
						"name": "Other",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1MovingFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IOS_Sink_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1MovingFiles",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Sink Datsets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "output"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1MovingFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IOS_Source_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1MovingFiles",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Source Datasets"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "ios_version_market_share.csv",
						"folderPath": "MarketShareofOperatingSystems",
						"fileSystem": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "iOS 10.3",
						"type": "String"
					},
					{
						"name": "iOS 12.1",
						"type": "String"
					},
					{
						"name": "iOS 13.3",
						"type": "String"
					},
					{
						"name": "iOS 11.2",
						"type": "String"
					},
					{
						"name": "iOS 11.4",
						"type": "String"
					},
					{
						"name": "iOS 14.4",
						"type": "String"
					},
					{
						"name": "iOS 12.4",
						"type": "String"
					},
					{
						"name": "iOS 15.6",
						"type": "String"
					},
					{
						"name": "iOS 12.3",
						"type": "String"
					},
					{
						"name": "iOS 11.0",
						"type": "String"
					},
					{
						"name": "iOS 9.3",
						"type": "String"
					},
					{
						"name": "iOS 11.3",
						"type": "String"
					},
					{
						"name": "iOS 16.1",
						"type": "String"
					},
					{
						"name": "iOS 16.3",
						"type": "String"
					},
					{
						"name": "iOS 14.7",
						"type": "String"
					},
					{
						"name": "iOS 14.6",
						"type": "String"
					},
					{
						"name": "iOS 15.5",
						"type": "String"
					},
					{
						"name": "iOS 12.2",
						"type": "String"
					},
					{
						"name": "iOS 13.1",
						"type": "String"
					},
					{
						"name": "iOS 11.1",
						"type": "String"
					},
					{
						"name": "iOS 12.0",
						"type": "String"
					},
					{
						"name": "iOS 13.5",
						"type": "String"
					},
					{
						"name": "iOS 16.6",
						"type": "String"
					},
					{
						"name": "iOS 14.8",
						"type": "String"
					},
					{
						"name": "iOS 14.2",
						"type": "String"
					},
					{
						"name": "iOS 15.4",
						"type": "String"
					},
					{
						"name": "iOS 16.0",
						"type": "String"
					},
					{
						"name": "iOS 15.1",
						"type": "String"
					},
					{
						"name": "iOS 13.6",
						"type": "String"
					},
					{
						"name": "iOS 15.3",
						"type": "String"
					},
					{
						"name": "iOS 10.2",
						"type": "String"
					},
					{
						"name": "iOS 16.5",
						"type": "String"
					},
					{
						"name": "iOS 13.4",
						"type": "String"
					},
					{
						"name": "iOS 12.5",
						"type": "String"
					},
					{
						"name": "iOS 14.3",
						"type": "String"
					},
					{
						"name": "iOS 16.2",
						"type": "String"
					},
					{
						"name": "iOS 13.7",
						"type": "String"
					},
					{
						"name": "iOS 14.0",
						"type": "String"
					},
					{
						"name": "iOS 15.7",
						"type": "String"
					},
					{
						"name": "iOS 15.2",
						"type": "String"
					},
					{
						"name": "iOS 16.4",
						"type": "String"
					},
					{
						"name": "iOS 15.0",
						"type": "String"
					},
					{
						"name": "iOS 14.1",
						"type": "String"
					},
					{
						"name": "iOS 13.2",
						"type": "String"
					},
					{
						"name": "iOS 10.1",
						"type": "String"
					},
					{
						"name": "iOS 10.0",
						"type": "String"
					},
					{
						"name": "iOS 17.0",
						"type": "String"
					},
					{
						"name": "iOS 14.5",
						"type": "String"
					},
					{
						"name": "iOS 7.1",
						"type": "String"
					},
					{
						"name": "iOS 7.0",
						"type": "String"
					},
					{
						"name": "iOS 6.0",
						"type": "String"
					},
					{
						"name": "iOS 17.1",
						"type": "String"
					},
					{
						"name": "iOS 9.2",
						"type": "String"
					},
					{
						"name": "iOS 13.0",
						"type": "String"
					},
					{
						"name": "iOS 8.4",
						"type": "String"
					},
					{
						"name": "iOS 8.1",
						"type": "String"
					},
					{
						"name": "iOS 16.7",
						"type": "String"
					},
					{
						"name": "iOS 9.1",
						"type": "String"
					},
					{
						"name": "iOS 6.1",
						"type": "String"
					},
					{
						"name": "iOS 5.1",
						"type": "String"
					},
					{
						"name": "iOS 8.3",
						"type": "String"
					},
					{
						"name": "iOS 9.0",
						"type": "String"
					},
					{
						"name": "iOS 5.0",
						"type": "String"
					},
					{
						"name": "iOS 8.0",
						"type": "String"
					},
					{
						"name": "iOS 8.2",
						"type": "String"
					},
					{
						"name": "iOS 4.3",
						"type": "String"
					},
					{
						"name": "iOS 15.8",
						"type": "String"
					},
					{
						"name": "iOS 3.2",
						"type": "String"
					},
					{
						"name": "Other",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1MovingFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBatch1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"batchUri": "[parameters('AzureBatch1_properties_typeProperties_batchUri')]",
					"poolName": "[parameters('AzureBatch1_properties_typeProperties_poolName')]",
					"accountName": "[parameters('AzureBatch1_properties_typeProperties_accountName')]",
					"linkedServiceName": {
						"referenceName": "AzureBlobStoragegen2",
						"type": "LinkedServiceReference"
					},
					"accessKey": {
						"type": "SecureString",
						"value": "[parameters('AzureBatch1_accessKey')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStoragegen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/loadfiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy IOS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "IOS_Source_Dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "IOS_Sink_Dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Android",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy IOS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Android_Source_Dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Android_Sink_Dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Desktop",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"enableStaging": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-12-20T03:59:02Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/IOS_Source_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/IOS_Sink_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/Android_Source_Dataset')]",
				"[concat(variables('factoryId'), '/datasets/Android_Sink_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/unzipping')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This pipeline unzip file",
				"activities": [
					{
						"name": "unzipping",
						"description": "This custom activity unzip the given file and store the unzipped folder back to storage account",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "cmd /c python unzip.py",
							"resourceLinkedService": {
								"referenceName": "AzureBlobStoragegen2",
								"type": "LinkedServiceReference"
							},
							"folderPath": "input",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-12-19T13:49:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStoragegen2')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBatch1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MarketShareofOperatingSystems')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Source to landing",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "unzipping",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Landing to Raw",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Source to landing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "loadfiles",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-12-20T03:59:02Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/unzipping')]",
				"[concat(variables('factoryId'), '/pipelines/loadfiles')]"
			]
		}
	]
}